final_project/.ipynb_checkpoints/
final_project/[1, poi_messages_total_messages_ratio, 0.120736988
final_project/decision_tree.py
final_project/emails_by_address/
final_project/final_project_dataset_modified.pkl
final_project/plot_rbf_parameters.ipynb
final_project/poi_email_addresses.py
final_project/poi_id_first tuned to satisfy.py
final_project/poi_names.txt
final_project/tester.pyc
tools/feature_format.pyc
final_project/Wrangling and EDA.ipynb